In this regression task we will predict the percentage of marks that a student is expected to score based upon the number of hours they studied. This is a simple linear regression task as it involves just two variables.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('student_scores.csv')
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

Read Dataset
Check Shape , Info etc.

Draw Scatter Plot of Variables

In [ ]:
sns.scatterplot(x='Hours',y='Scores',data=df)

Check Heatmap Between DataFrame Correlation with annot = True

In [ ]:
sns.heatmap(df.corr(),annot=True)

 Dividing the DF to independent and dependent variable

In [ ]:
 X=df['Hours'].values.reshape(-1,1)  
 y = df['Scores']

Spliting the X,y into train and test

In [ ]:
from sklearn.model_selection import train_test_split

Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,train_size=0.8,random_state=10)

Importing LinearRegression from sklearn
Creating object and fitting the model

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(Xtrain,ytrain)
y_predict = lr.predict(Xtest)
df1 = pd.DataFrame({'Actual':ytest,'Predicted':y_predict})
df1

    Actual  Predicted
5       20  17.371423
1       47  52.702923
13      42  35.037173
2       27  34.055743
12      41  46.814340

Plotting The Regression Line

 # Predicting for test dataset
 # Creating Actual and Predicted dataset

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score
ypredict = lr.predict(np.array([[5]]))

ypredict

MSE 34.30075055068739
R2 0.7683986360630383

# Model Evaluation